* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

aside {
  width: 200px;
  height: calc(100vh - 100px);
  background-color: #333;
  float: left;
}

aside i {
  font-size: 24px;
}

aside i:not(.odd-i) {
  padding-right: 10px;
}

aside nav {
  width: 90%;
  margin-left: 5%;
}

li {
  list-style-type: none;
  padding: 5px;
}

main {
  height: calc(100vh - 100px);
  width: calc(100vw - 200px);
  margin-left: 200px;
  background-color: lightblue;
}

header {
  height: 50px;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  z-index: 10;
}

footer {
  height: 100px;
  width: 100%;
  background-color: lightgreen;
  position: fixed;
  bottom: 0;
}

.iconbox {
  width: 40px;
  display: inline-block;
}

.logobox {
  width: 70%;
  margin-top: 20px;
  margin-left: 15px;
  color: #fff;
}

.md-noshow {
  display: none;
}

.playlist-iconbox {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.xs-noshow {
  display: inline;
}

#browse-options {
  margin-top: 30px;
  padding-bottom: 20px;
}

#liked-songs-icon {
  background: rgb(71,14,245);
  background: linear-gradient(135deg, rgba(71,14,245,1) 0%, rgba(255,255,255,1) 100%);
}

#playlists-container {
  white-space: nowrap;
  overflow: hidden auto;
  height: 310px;
}

/* .playlists-display {
  overflow: hidden scroll;
} */

@media screen and (max-width: 768px) {
  aside {
    width: 80px;
    height: calc(100vh - 100px);
    background-color: #333;
    float: left;
  }

  main {
    height: calc(100vh - 100px);
    width: calc(100vw - 80px);
    margin-left: 80px;
    background-color: lightblue;
  }

  .logobox {
    width: 100%;
    margin-top: 20px;
    margin-left: 15px;
    color: #fff;
  }

  .md-noshow {
    display: inline;
  }

  .xs-noshow {
    display: none;
  }
}
